<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>New person</title>
</head>
<body>

<form th:method="POST" th:action="@{/dishes}" th:object="${dish}">

    <label for="name">Input name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>

    <label for="price">Input price: </label>
    <input type="text" th:field="*{price}" id="price"/>
    <br/>

    <input type="submit" value="Create!"/>
</form>

<hr>
<a th:href="@{/dishes}">To dishes</a>

</body>
</html>