<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать сотрудника</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/employees/{id}(id=${employee.getId()})}" th:object="${employee}">

    <label for="fio">Input fio: </label>
    <input type="text" th:field="*{fio}" id="fio"/>
    <br/>

    <label for="phone">Input phone: </label>
    <input type="text" th:field="*{phone}" id="phone"/>
    <br/>

    <label for="jobTitle">Input job: </label>
    <input type="text" th:field="*{jobTitle}" id="jobTitle"/>
    <br/>

    <input type="submit" value="Редактировать!"/>
</form>

</body>
</html>