<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<div th:each="employee : ${employees}">
    <a th:href="@{/employees/{id}(id=${employee.getId()})}"
       th:text="${employee.getFio() + ', ' + employee.getJobTitle()+ ', ' + employee.getPhone()}">employee</a>

    <span th:if="${employee.getShift()}">
    <p th:text="'Shift: ' + ${employee.getShift().getName()}">employee</p>
    </span>
</div>

<hr/>

<a href="/employees/new">Add employee</a>
<a th:href="@{/cafes/{id}(id=${cafeId})}">To cafe</a>


</body>
</html>