<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>New person</title>
</head>
<body>

<form th:method="POST" th:action="@{/employees}" th:object="${employee}">

    <label for="fio">Input fio: </label>
    <input type="text" th:field="*{fio}" id="fio"/>
    <br/>

    <label for="phone">Input phone: </label>
    <input type="text" th:field="*{phone}" id="phone"/>
    <br/>

    <label for="jobTitle">Input job: </label>
    <input id="jobTitle" type="text" list="<list>" th:field="*{jobTitle}"/>
    <datalist id="<list>">
        <option value="Cook"></option>
        <option value="Waiter"></option>
        <option value="Chef"></option>
        <option value="Sous chef"></option>
    </datalist>
    <br/>

    <input type="submit" value="Create!"/>
</form>

<hr>
<a th:href="@{/employees}">To employees</a>

</body>
</html>