<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Show employee</title>
</head>
<body>
<p th:text="${employee.getFio() + ', ' + employee.getJobTitle() + ', ' + employee.getPhone()}">VALUE</p>

<form th:method="GET" th:action="@{/employees/{id}/edit(id=${employee.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/employees/{id}(id=${employee.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>