<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Show employee</title>
</head>
<body>
<p th:text="${booking.getId() + ', Comment: ' + booking.getComment() +
       ', Table number:' + booking.getTableNumber() + ', People amount: ' +
       booking.getPeopleAmount() + ', Scheduled for: ' + booking.getScheduledFor() +
        ', Made at: ' + booking.getMadeAt()}">VALUE</p>
<hr>

<form th:method="GET" th:action="@{/bookings/{id}/edit(id=${booking.getId()})}">
    <input type="submit" value="Edit"/>
</form>

<form th:method="DELETE" th:action="@{/bookings/{id}(id=${booking.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<hr>

<a th:href="@{/bookings}">To bookings</a>

</body>
</html>