<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit cafe</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/cafes/{id}(id=${cafe.getId()})}" th:object="${cafe}">

    <label for="name">Input name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>

    <label for="address">Input address: </label>
    <input type="text" th:field="*{address}" id="address"/>
    <br/>

    <label for="tables">Input tables: </label>
    <input type="text" th:field="*{tableAmount}" id="tables"/>
    <br/>

    <input type="submit" value="Редактировать!"/>
</form>

</body>
</html>