<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>New cafe</title>
</head>
<body>

<form th:method="POST" th:action="@{/cafes}" th:object="${cafe}">

    <label for="name">Input name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>

    <label for="address">Input address: </label>
    <input type="text" th:field="*{address}" id="address"/>
    <br/>

    <label for="tables">Input tables: </label>
    <input type="text" th:field="*{tableAmount}" id="tables"/>
    <br/>

    <input type="submit" value="Create!"/>
</form>

<hr>
<a th:href="@{/cafes}";>To cafes</a><br>

</body>
</html>