<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Show cafe</title>
</head>
<body>
<p th:text="${cafe.getName() + ', ' + cafe.getAddress() + ', ' + cafe.getPlaces()}">VALUE</p>
<br>


<!--<div th:if="${books.isEmpty()}">-->
<!--    <p>Человек пока не взял ни одной книги</p>-->
<!--    <hr/>-->
<!--</div>-->

<!--<div th:if="${!books.isEmpty()}">-->
<!--    <hr/>-->
<!--    <b>Книги:</b>-->
<!--    <br/>-->
<!--    <table th:each="book : ${books}">-->
<!--        <tr>-->
<!--            <td>-->
<!--                <span th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"-->
<!--                   th:style="${book.isExpired()} ? 'color: red' : 'color: black'">-->
<!--                    book-->
<!--                </span>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->
<!--    <hr/>-->
<!--</div>-->

<form th:method="GET" th:action="@{/cafes/{id}/edit(id=${cafe.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/cafes/{id}(id=${cafe.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

<hr>

<a th:href="@{/employees(cafeId=${cafe.getId()})}";>Manage employees</a>

</body>
</html>