<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Show cafe</title>
</head>
<body>
<p th:text="${cafe.getName() + ', ' + cafe.getAddress()}">VALUE</p>

<form th:method="GET" th:action="@{/cafes/{id}/edit(id=${cafe.getId()})}">
    <input type="submit" value="Edit"/>
</form>

<form th:method="DELETE" th:action="@{/cafes/{id}(id=${cafe.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<hr>

<a th:href="@{/employees}";>Manage employees</a><br>
<a th:href="@{/shifts}";>Manage shifts</a><br>
<a th:href="@{/dishes}";>Manage dishes</a><br>
<a th:href="@{/orders}";>Manage orders</a><br>
<a th:href="@{/bookings}";>Manage bookings</a><br>
<hr>
<a th:href="@{/cafes}";>To cafes</a><br>

</body>
</html>